<section class="top-home bg_cover" id="home">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 offset-xl-7 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        <div class="top-home-content">
                            <h4 class="mb-30 wow fadeInUp" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                جائزة
                            </h4>
                            <h2 class="mb-30 wow fadeInUp" data-wow-delay=".4" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                أ.د.صديق عفيفي
                            </h2>
                            <p class="mb-30 wow fadeInUp" data-wow-delay=".6" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                للبحث العلمي والابتكار والادب لعام ٢٠٢٢
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="top-home-left">
                <img src="image/top-home-left.jpeg" alt="" style="max-width: 100%; vertical-align:middle; border-radius: 40px;">
                <img src="https://preview.uideck.com/items/learn/assets/images/dot-shape.svg" alt="" class="shape">
            </div> 
        </section>
        <!-- end section top home -->

        <!-- Star What Prize -->
        <div class="What-content">
            <h2 class="mb-15 wow fadeInUp" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">عن الجائزه</h2>
            <p class="mb-15 wow fadeInUp" data-wow-delay=".4" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">انطلاقا من حرص الدولة علي تشجيع العلماء
                والمبتكرين والمبدعين من أبنائها الباحثين والمفكرين
                وفي اطار دعم البحث العلمي وروح التنافس ومن أجل مزيد من الارتقاء بمستوي البحث العلمي وإيمانا من
                الأستاذ الدكتور/ صديق عفيفي بأن رفعة الأمم تقاس بمدى عنايتها واهتمامها بباحثيها ومبدعيها ومبتكريها
                وان أحد صور هذا الاهتمام تتجلى في الدعم المادي والمعنوي لهذه النخبة
                . وإدراكا منه بضرورة الاهتمام بالباحثين ودعمهم وتشجيعهم
                على استثمار نتائج أبحاثهم ، فقد قام سيادته برصد جائزة سنوية لذلك
            </p>
        </div>
        <!-- End What Prize -->

        <!-- Star Fields  -->
        <div class="fields">
            <div class="container">
                <h2 class="mb-15 wow fadeInUp" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">مجالات الجائزة</h2>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="field wow fadeInUp" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; box-shadow: 0px 0px 30px #c3a6a0;">
                            <div class="field-icon">
                                <i class="fas fa-briefcase-medical"></i>
                            </div>
                            <div class="field-content">
                                <h4>مجال العلوم الطبية التطبيقية</h4>
                                <p>جوائز قيمة تصل الي ١٥٠ آلف جنيه</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="field wow fadeInUp" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; box-shadow: 0px 0px 30px #c3a6a0;">
                            <div class="field-icon">
                                <i class="fas fa-laptop-code"></i>
                            </div>
                            <div class="field-content">
                                <h4>مجال المعلوماتية والذكاء الاصطناعي</h4>
                                <p>جوائز قيمة تصل الي ١٥٠ آلف جنيه</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="field wow fadeInUp" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; box-shadow: 0px 0px 30px #c3a6a0;">
                            <div class="field-icon">
                                <i class="fas fa-book-reader"></i>
                            </div>
                            <div class="field-content">
                                <h4>مجال الأدب في كتابة الرواية</h4>
                                <p>جوائز قيمة تصل الي ١٥٠ آلف جنيه</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Fields -->

        <!-- star goals -->
        <section class="goals text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <h2 class="mb-15 wow fadeInUp" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">اهداف الجائزة</h2>
                <div  class="carousel-inner" >
                    <div  class="carousel-item active">
                        <div class="row">
                            <div class="goal wow fadeInUp col-12 col-md-6" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; ">
                                <div class="goals-icon">
                                    <i class="fas fa-paint-brush"></i>
                                </div>
                                <div class="goals-content">
                                    <p style="font-size:30px; line-height: 40px">اكتشاف وتبني الطاقات والمواهب البحثية والأدبية المبدعة بين الشباب في مصر</p>
                                </div>
                            </div>
                            <div class="goal wow fadeInUp col-12 col-md-6" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; ">
                                <div class="goals-icon">
                                    <i class="fas fa-hourglass-half"></i>
                                </div>
                                <div class="goals-content">
                                    <p style="font-size:30px; line-height: 40px">الاهتمام بالموهوبين والمبدعين
                                        وتشجيعهم على العطاء بإعطائهم فرصة للتعبير عن أفكارهم وآرائهم</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="carousel-item">
                        <div class="row">
                            <div class="goal wow fadeInUp col-12 col-md-6" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; ">
                                <div class="goals-icon">
                                    <i class="fas fa-child"></i>
                                </div>
                                <div class="goals-content">
                                    <p style="font-size:30px; line-height: 40px">مساعدة الباحثين في استثمار نتائج أبحاثهم وابتكاراتهم
                                        وتحويلها الى منتجات تؤثر بشكل إيجابي علي اقتصاديات البلد والمنطقة العربية</p>
                                </div>
                            </div>
                            <div class="goal wow fadeInUp col-12 col-md-6" data-wow-delay=".2" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; ">
                                <div class="goals-icon">
                                    <i class="fas fa-graduation-cap"></i>
                                </div>
                                <div class="goals-content">
                                    <p style="font-size:30px; line-height: 40px;">دعم وتنمية روح البحث العلمي بين شرائح المجتمع المصري</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-indicators">
                    <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                        
                    </button>
                    <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                        
                    </button>
                </div>
            </div>
        <div id="contact"></div>
        </section>
        <!-- end goals -->