<div id="global-style">

            <!--first cover-->
            <section>
                <div class="parallax-one">
                </div>
            </section>
            <!--first cover-->

            <section>
                <div class="block">
                    <!--start Prize components-->
                    <div class="p-style">
                            <h2>مكونات الجائزة</h2>
                            <p> شهادة تتضمن اسم الجائزة واسم الفائز وسنة الحصول عليها و ميدالية عليها أسم الأكاديمية و اسم الجائزة ومجالها والتاريخ  مكافأة مالية قدرها: ١٠٠.٠٠٠
                                ( مائة ألف جنية مصري) 
                                في مجال الابتكار في حال التقدم بمنتج
                                ٥٠.٠٠٠ (خمسون ألف جنية مصري في حال التقدم بأبحاث علمية منشورة في مجلات دولية ذات معامل تأثير عال) 
                            </p>
                    </div>
                    <!--end Prize components-->

                <!--start General conditions for candidacy-->
                    <div class="list">
                        <h2>الشروط  العامة للترشح</h2>
                        <ul>
                            <li>أن يكون المرشّح مصري الجنسية</li>
                            <li>ألا يكون قد سبق حصول المرشح على أي  جائزة علمية أخرى بنفس الإنتاج العلمي المقدم لهذه الجائزة. </li>
                            <li> يشترط في الأبحاث أو الإنتاج الذي يتقدم به المرشح لنيل أي جائزة من الجوائز المعلنة ألا يكون قد سبق وأن تقدم بها للحصول علي جوائز أخري. </li>
                            <li>يقوم المرشح بملء الاستمارة المعدة للترشح للجائزة.</li>
                            <li>لا تقبل أي إضافات او تعديلات لأى مستند بعد وصوله. </li>
                            <li>لا ينظر في الطلبات التي لا تلتزم بشروط الجائزة ولا تلك التي تصل بعد انتهاء فترة الترشح.</li>
                        </ul>
                    </div>
                <!--end General conditions for candidacy-->
                </div>
            </section>

            <!--second cover-->
            <section>
                <div class="parallax-two">
                </div>
            </section>
            <!--second cover-->
            
            <!--start Procedures for applying for the award and required documents-->
            <section>
                <div class="block">
                    <div class="list">
                    <h2>إجراءات التقدم للجائزة والمستندات المطلوبة</h2>
                        <ul>
                            <li>مستند رقم (1) و هو طلب تقدم لنيل جائزة الدكتور/ صديق عفيفي للبحث العلمي والابتكار والادب لعام ٢٠٢٠/٢٠٢١ مرفق به صورة فوتوغرافية حديثة.</li>
                            <li>مستند رقم (2) وهو استمارة بيانات متقدم لجائزة دكتور/ صديق عفيفي للبحث العلمي والابتكار والادب</li>
                            <li>مستند رقم (3) وهو إقرار باستيفاء الشروط العامة للجائزة</li>
                            <li>صورة بطاقة الرقم القومي</li>
                            <span id="dots"></span><span id="more">
                            <li>عدد ٢ صورة ملونة حديثة للمتقدم</li>
                            <li>المؤهلات العلمية والتاريخ الوظيفي .</li>
                            <li> ملخص عن الإنتاج بما لا يزيد عن ٣٠٠ كلمة (times new roman 12 with space 1.5 )</li>
                            <li> تفاصيل الإنتاج المقدم لا يزيد عن ١٠ صفحات (times new roman 12 with space 1.5 )</li>
                            <li>في حال مشاركة أكثر من باحث في  البحث أو الابتكار يجب احضار موافقة مكتوبة من أعضاء فريق العمل تفيد بموافقتهم على التقدم للجائزة ، وتفويض احد أعضاء الفريق لاستلام الجائزة في حال فاز البحث/الابتكار بأحد الجوائز.</li>
                            <li>في حال عدم وجود شركاء فيكون الإقرار من المتقدم بعدم وجود شركاء معه في العمل.</li>
                            <li>تقديم فيديو يوضح الابتكار أو مجسم للابتكار.</li>
                            <li>الابحاث العلمية يجب أن تكون خلال الخمس سنوات السابقة المنشورة فى مجلات ال Q1 أو Q2 ( لا يوجد حد أدنى لعدد الابحاث).</li>
                        </span>
                            <button onclick="myFunction()" id="myBtn" type="button" class="btn btn-primary">قراءه المزيد</button>
                        </ul>
                    </div>
                </div>
            </section>
                <!--end Procedures for applying for the award and required documents-->