@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="login-form">
        <form id="form" method="post">
            <img src="~/image/logo.png" alt="">
            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- email input -->
                <div class="group">
                    <input asp-for="Input.Email" class="form-control" id="inlineFormInputGroupUsername" placeholder="البريد الالكتروني او اسم المستخدم" required/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            <br>
            <!-- password input -->
            <div class="group">
                    <input asp-for="Input.Password" type="password" class="form-control" id="inlineFormInputGroupUsername" placeholder="الرقم السري" required/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
            <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
            <!-- login input -->
            
         
                <input type="submit" id="login" value="تسجيل الدخول" />
            <!-- regidtration input -->
            <p> ليس لديك حساب؟ <a asp-area="Identity" asp-page="/Account/Register" id="registration">تسجيل</a></p>
        </form>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
