@using Microsoft.AspNetCore.Identity
@model FinalProjectSeddik.Models.ComptitveRegistration

        <div class="container">
            <div class="profile-page row">
                <div class="info row">
                    <div class="~/img-profile col-sm-12 col-lg-4 col-xl-4">
                        <img src="~/image/profile1.jpg" alt="">
                    </div>
                    <div class="info-group col-sm-12 col-lg-8 col-xl-8">
                        <div class="name">
                            <label asp-for="FullName">الاسم</label>
                            <input type="text"asp-for="FullName" id="name" disabled>
                        </div>
                        <div class="email">
                            <label asp-for="Email">البريد الالكتروني</label>
                            <input type="email"asp-for="Email" id="email"  disabled>
                        </div>
                        <div class="phone">
                            <label asp-for="MobileNumber">رقم الهاتف</label>
                            <input type="text" asp-for="MobileNumber" id="phone"  disabled>
                        </div>
                        <div class="National_ID">
                            <label asp-for="NationalId">الرقم القومي</label>
                            <input type="text" asp-for="NationalId" id="National_ID"  disabled>
                        </div>
                        <div class="type">
                            <label asp-for="Gender">النوع</label>
                            <input type="text" asp-for="Gender" id="type" disabled>
                        </div>
                        <div class="Specialization">
                            <label asp-for="Specialization">التخصص</label>
                            <input type="text" asp-for="Specialization" id="Specialization" disabled>
                        </div>
                        <div class="job">
                            <label asp-for="WorkPlace">مكان العمل / الدراسه</label>
                            <input asp-for="WorkPlace" type="text" name="job" id="job"  disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    